Button {
    color: rgb(255, 255, 255); font-size: 15px; line-height: 15px; padding: 6px; border-radius: 10px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid rgb(28, 110, 164); display: inline-block;}
    .myButton:hover {
    background: #1C6EA4; }
    .myButton:active {
    background: #144E75; }
    table {
    border-collapse: collapse;
    width: 500px;
}

thead {
    background: blue;
    color: white;
}

table th, table td {
    padding: 8px;
}

.table-item-head {
    width: 250px;
}

.table-paragraph {
    text-align: center;
    margin-top: 15px;
}

button.cart-button {
    margin-left: 0px;
    padding: 10px 25px 10px 25px;
    background: white;
    color:#2A2829;
}

button.cart-button:hover {
    /* box-shadow: 2px 2px 5px #2A2829; */
    cursor: pointer;
}

tbody tr:nth-child(odd) {
    background: #E8E8E8;
    color: #2A2829;
}

tfoot {
    background:#2A2829;
    color: #E8E8E8;
}

.table-price-head {
    width: 150px;
}

.table-total-head {
    width: 150px;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}