#books {
    display: flex;
    flex-wrap: wrap;
}

#books li {
    list-style: none;
    text-align: center;
    position: relative;
    background: #aca9a938;
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
    margin-right: 10px;
    transition: 300ms ease-in-out;
    /* box-shadow: 3px 3px 3px grey; */
    /* border-radius: 10px; */
}

#books li:hover {
    box-shadow: 2px 2px 5px #2A2829;
    transform: translate3d(-2px, -2px, 0);
    cursor: pointer;
    /* opacity: 0.8; */
}

#books img {
    height: 50%;
 
}

#menu-outer {
    height: 84px;
}

.table {
    display: table;  
    margin: 0 auto;
}

ul#books {
    list-style: none;
	
	}
	ul#books li {
		display: inline;
	}